# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# VS Code
.vscode/

# Local data
data/

# Windows
Thumbs.db
Desktop.ini

# User settings
settings.json

# Archives
*.zip

# Generated version metadata
version_info.txt